@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --text-color: #00aa00;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  background-color: #333;
  color: #ccc;
  font-size: 18px;
  line-height: 1.6;
}

h1 {
  color: var(--text-color);
  font-size: 50px;
  letter-spacing: -5px;
  margin-bottom: 20px;
}

h2 {
  color: var(--text-color);
}

h3 {
  margin-bottom: 10px;
  text-shadow: 2px 2px #111;
}

ul {
  list-style-type: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
  text-shadow: 2px 2px #111;
}

p {
  margin: 20px 0;
}

nav {
  width: 100%;
  text-shadow: 2px 2px #111;
}


nav ul li:hover {
  -webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
  color:#00ff00;
	text-shadow: 2px 10px #111;
}

nav ul a:hover {
  -webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
  color:#00ff00;
  text-shadow: 2px 10px #111;
}

a:hover {
  -webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
  color:#00ff00;
  text-shadow: 2px 10px #111;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ul2 {
  display: block;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  color: var(--text-color);
  cursor: pointer;
}

.active {
  color: #00ff00;
}

.container {
  max-width: 600px;
  margin: auto;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container2 {
  margin: auto;
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wb-body {
  background: #111;
}

.wb-title {
}

.wb-min {
}

.wb-min:hover {
  background-color: #00ea00;
}

.wb-max {
}

.wb-max:hover {
  background-color: #00ea00;
}

.wb-full {
}

.wb-full:hover {
  background-color: #00ea00;
}

.wb-close {
}

.wb-close:hover {
  background-color: #c10000;
}

.hidden {
  display: none;
}

.cursor {
  font-weight: 700;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }

  50% {
    color: var(--text-color);
  }
}



@media (max-width: 1000px){
h1 {
  color: var(--text-color);
  font-size: 50px;
  letter-spacing: -5px;
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 10px;
  font-size: 30px;
}

ul {
  list-style-type: none;
  font-size: 20px;
}

a {
  color: var(--text-color);
  text-decoration: none;
  text-shadow: 2px 2px #111;
}

p {
  margin: 20px 0;
  font-size: 20px;
}

nav {
  width: 100%;
  text-shadow: 2px 2px #111;
}


nav ul li:hover {
  -webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
  color:#00ff00;
	text-shadow: 2px 10px #111;
}

nav ul a:hover {
  -webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
  color:#00ff00;
  text-shadow: 2px 10px #111;
}

a:hover {
  -webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
  color:#00ff00;
  text-shadow: 2px 10px #111;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ul2 {
  display: block;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  color: var(--text-color);
  cursor: pointer;
}

.active {
  color: #00ff00;
  font-size: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container2 {
  margin: auto;
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wb-body {
  background: #111;
}

.wb-title {
  font-size: 20px;
}

.wb-min {
}

.wb-min:hover {
  background-color: #00ea00;
}

.wb-max {
}

.wb-max:hover {
  background-color: #00ea00;
}

.wb-full {
}

.wb-full:hover {
  background-color: #00ea00;
}

.wb-close {
}

.wb-close:hover {
  background-color: #c10000;
}

.hidden {
  display: none;
}

.cursor {
  font-weight: 700;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }

  50% {
    color: var(--text-color);
  }
}
}
